/* hero */
.hero-title {
  color: var(--whight-color);
   font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* button */
.hero-button {
  color: var(--whight-color);
  background: var(--accent-color);
    font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/* Наші переваги */
.feature-list .title {
  color: var(--title-text-color);
  font-style: normal;
    font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-list .text {
  color: var(--primary-text-color);
  font-style: normal;
    font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Чим займаємось */
.portfolio-title, .section-title {
  color: var(--title-text-color);
  font-style: normal;
font-weight: 700;
   line-height: 2;
  letter-spacing: 0.06em;
}
.section-title {
  font-size: 36px;
}
.portfolio-title {
  font-size: 18px;
}
/* Наша команда */
.team-list .title {
  color: var(--title-text-color);
  font-style: normal;
font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-list .text {
  color: var(--primary-text-color);
  font-style: normal;
font-weight: 400;
  font-size: 16px;
  line-height: 1.19px;
  letter-spacing: 0.03em;
}
.portfolio-list .text {
  color: var(--primary-text-color);
}
.work-list .buttons {
  color: var(--title-text-color);
  background-color: var(--button-primery-color);
    font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
}
.buttons:hover {
  color: var(--whight-color);
  background-color: var(--button-secondary-color);
}
.portfolio-list .title {
  color: var(--title-text-color);
    font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-list .text {
    color: var(--primary-text-color)
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
