
/* hero */
.hero-title {
  background-color: var(--background-color);
  color: var(--whight-color);
}
/* button */
.button {
  color: var(--whight-color);
  background: var(--accent-color);
}
/* section */
.section {v
  background-color: ar(--whight-color);
  color: var(--title-text-color);
}

/* Наші переваги */
.feature-list .title {
  color: var(--title-text-color);
}
.feature-list .paragraph {
  color: var(--primary-text-color);
}

/* Чим займаємось */
.section-title {
  color: var(--title-text-color);
}
/* Наша команда */
.team-list .title {
  color: var(--title-text-color);
}
.team-list .paragraph {
  color: var(--primary-text-color);
}
.portfolio-list .paragraph {
    color: var(--primary-text-color);
}